<!DOCTYPE HTML>
<html lang="en">

  <head>
    <title>FanCrawl</title>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53564857-1', 'auto');
      ga('send', 'pageview');
    </script>
    <link rel="icon" type="image/svg+xml" href="/views/img/instagram_logo.svg">
    <link rel="alternate icon" type="image/svg+xml" href="/views/img/instagram_logo.png">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width = 320,
       initial-scale = 1, user-scalable = no, minimal-ui">
    <link rel="stylesheet" type="text/css" href="/views/css/dashboard.css" media="all">
    <script src="/app/jquery-2.1.1.min.js"></script>
    <script src="/app/d3.min.js" charset="utf-8"></script>
  </head>

  <body>
    <div class="header">
      <div class="headerInner">
        <!-- main logo -->
        <span>FanCrawl</span>

        <!-- toggle submenu -->
        <div class="user" onclick="$('#hidden').toggleClass('show');">

          <!-- check ejs for instagram user data -->
          <% if ( userPicture ){ %>
            <img src="<%= userPicture %>"/>
          <% } else { %>
            <img src="/views/img/profile_blank_gray.jpg"/>
          <% } %>

          <!-- check ejs for instagram user name data -->
          <% if ( userName ){ %>
            <span><%= userName %></span>
          <% } else { %>
            <span>John Smith</span>
          <% } %>

          <div></div>
        </div>
        <div></div>
        <div id="hidden" class="userMenu">
          <ul>
            <li><a href="http://github.com/julesmoretti/fancrawl/" target="_blank" onclick="$('#hidden').removeClass('show');">About FanCrawl</a></li>
            <li><a href="http://github.com/julesmoretti/fancrawl/issues" target="_blank" onclick="$('#hidden').removeClass('show');">Report Issues</a></li>
            <li><a onclick="logOut();">SIGN OUT</a></li>
          </ul>
        </div>
      </div>
    </div>
    <script>
      // var closeWarning = function(){
      //   console.log("closing box");
      //   var warnings = d3.select('.warningsInner');

      //       warnings.selectAll(".warningBar")
      //             .style("opacity", 1)
      //             .transition()
      //             .delay(200)
      //             .duration(500)
      //             .style("opacity", 0);

      // };
    </script>
    <!-- <div class="warnings">
      <div class="warningsInner">
        <div class="warningBar" onclick="closeWarning();">
          <div class="warningClose"></div>
          <span class="warningText">YELLLOW</span>
          <span class="warningText">YELLLOW</span>
          <span class="warningText">YELLLOW</span>
        </div>
    </div> -->
    <div class="banner">
      <div class="bannerInner">
        <span>Dashboard</span>
      </div>
    </div>
    <div class="container">
      <div class="containerInner">
        <div class="mainStats">
          <span>Pre-FanCrawl</span>
          <div class="figures">
            <div class="followedBy">
              <span>Followed by</span>
              <!-- check ejs for secure followed by data -->
              <% if ( followedBy ){ %>
                <span><%= followedBy %></span>
              <% } else { %>
                <span>N/A</span>
              <% } %>
            </div>
            <div class="following">
              <span>Following</span>
              <!-- check ejs for secure following data -->
              <% if ( following ){ %>
                <span><%= following %></span>
              <% } else { %>
                <span></span>
              <% } %>
            </div>
          </div>
        </div>
        <div class="mainStats">
          <span>Current</span>
          <div class="figures">
            <div class="followedBy">
              <span>Followed by</span>

              <!-- check ejs for current relationships -->
              <% if ( actualFollowedBy ){ %>
                <span><%= actualFollowedBy %></span>
              <% } else { %>
                <span>N/A</span>
              <% } %>

              <!-- computed percentage increase -->
              <% if ( actualFollowedByPercentage ){ %>
                <span class="<%= afbpClass %>"><%= actualFollowedByPercentage %>%</span>
              <% } else { %>
                <span class="instGreen"></span>
              <% } %>

            </div>
            <div class="following">
              <span>Following</span>
              <!-- check ejs for weekly following data -->
              <% if ( actualFollowing ){ %>
                <span><%= actualFollowing %></span>
              <% } else { %>
                <span>N/A</span>
              <% } %>

              <!-- computed percentage increase -->
              <% if ( actualFollowingPercentage ){ %>
                <span class="<%= afpClass %>"><%= actualFollowingPercentage %>%</span>
              <% } else { %>
                <span class="instBlue"></span>
              <% } %>
            </div>
          </div>
        </div>
        <div class="mainStats">
          <span>Weekly</span>
          <div class="figures">
            <div>
              <svg class="chartBackground" viewBox="0 0 400 400" preserveAspectRatio=none>
                <defs>
                  <linearGradient id="grad1" x1="0%" y1="0%" x2="0%" y2="100%">
                    <stop offset="0%" style="stop-color:#26404d; stop-opacity:0.7"></stop>
                    <stop offset="100%" style="stop-color:#26404d; stop-opacity:0"></stop>
                  </linearGradient>
                </defs>
              </svg>
              <svg class="chart"></svg>
            </div>
          </div>
        </div>
        <div class="mainControllers">
          <span>Actions</span>
          <div class="controllerList">
            <div class="controllerDescription">
              <ul>
                <li><span>FanCrawl</span></li>
                <li><span>Clean up?</span></li>
                <% if ( status === "statusCleaning" ){ %>
                  <li><span>Approximate time remaining:</span></li>
                <% } else { %>
                <% } %>
                <li><span>FanCrawled users so far</span></li>
                <% for ( keys in errorLogs ) {%>
                   <li class="actionWarning"><span><%= errorLogs[ keys ] %></span></li>
                <% } %>
                <li><span>Do not forget to save...</span></li>
              </ul>
            </div>
            <div class="controllerStatus">
              <form name="input" action="/trigger" method="post">
                <ul>
                  <li>
                    <div class="switchDiv">
                      <% if ( status === "statusStopped" ){ %>
                        <input type="checkbox" id="switch1" name="switchFancrawl" class="switch" onclick="toggleAttributes1()"/>
                        <label id="switch1label" for="switch1">&nbsp;</label>
                      <% } else if ( status === "statusStarted" ){ %>
                        <input type="checkbox" id="switch1" name="switchFancrawl" class="switch" onclick="toggleAttributes1()" checked="checked"/>
                        <label id="switch1label" for="switch1">&nbsp;</label>
                      <% } else if ( status === "statusCleaning" ){ %>
                        <input type="checkbox" id="switch1" name="switchFancrawl" class="switch" onclick="$('#hidden').removeClass('show');" disabled="disabled"/>
                        <label id="switch1label" for="switch1" class="muted">&nbsp;</label>
                      <% } %>
                    </div>
                  </li>
                  <li>
                    <div class="switchDiv">
                      <% if ( status === "statusStopped" ){ %>
                        <input type="checkbox" id="switch2" name="switchclean" class="switch" onclick="toggleAttributes2();"/>
                        <label id="switch2label" for="switch2">&nbsp;</label>
                      <% } else if ( status === "statusStarted" ){ %>
                        <input type="checkbox" id="switch2" name="switchclean" class="switch" onclick="$('#hidden').removeClass('show');" disabled="disabled"/>
                        <label id="switch2label" for="switch2" class="muted">&nbsp;</label>
                      <% } else if ( status === "statusCleaning" ){ %>
                        <!-- <input type="checkbox" id="switch2" name="switchclean" class="switch" checked="checked" onclick="$('#hidden').removeClass('show');" disabled="disabled"/> -->
                        <input type="checkbox" id="switch2" name="switchclean" class="switch" checked="checked" onclick="toggleAttributes3()"/>
                        <label id="switch2label" for="switch2">&nbsp;</label>
                        <!-- <label id="switch2label" for="switch2" class="muted">&nbsp;</label> -->
                      <% } %>
                    </div>
                  </li>

                  <% if ( status === "statusCleaning" ){ %>
                    <li><span><%= cleaningTime %></span></li>
                  <% } else { %>
                  <% } %>

                  <li>
                    <% if ( totalCrawled ){ %>
                      <span><%= totalCrawled %></span>
                    <% } else { %>
                      <span>0</span>
                    <% } %>
                  </li>
                  <% for ( keys in errorLogs ) {%>
                     <li class="actionWarningDark"><span>WARNINGS</span></li>
                  <% } %>
                  <li>
                    <button id="submitButton" type="submit" value="SAVE" class="saveButton disabledButton" onclick="$('#hidden').removeClass('show');" disabled>SAVE</button>
                  </li>
                </ul>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="status_bar">
      <span>Copyright © <a href="http://linkedin.com/in/julesmoretti" target="_blank">Jules Moretti</a>. All rights reserved.</span>
    </div>
    <div id="menuHide" onclick="$('#hidden').removeClass('show');"></div>


    <% if ( data ){ %>
      <script type="text/javascript">
        var data = [<%= data %>];
      </script>
    <% } %>
    <script src="/views/js/d3_chart.js" charset="utf-8"></script>
    <script src="/views/js/d3_ani_dash.js" charset="utf-8"></script>
    <script src="/views/js/toggles.js" charset="utf-8"></script>
  </body>

</html>
