<!DOCTYPE HTML>
<html lang="en">

  <head>
    <title>FanCrawl - Users</title>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53564857-1', 'auto');
      ga('send', 'pageview');
    </script>
    <link rel="icon" type="image/svg+xml" href="/views/img/instagram_logo.svg">
    <link rel="alternate icon" type="image/svg+xml" href="/views/img/instagram_logo.png">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width = 320,
       initial-scale = 1, user-scalable = no, minimal-ui">
    <link rel="stylesheet" type="text/css" href="/views/css/users.css" media="all">
    <script src="/app/jquery-2.1.1.min.js"></script>
    <script src="/app/d3.min.js" charset="utf-8"></script>
  </head>

  <body>
    <div id="mask"></div>
    <div class="header">
      <div class="headerInner">
        <!-- main logo -->
        <span>FanCrawl</span>

        <!-- toggle submenu -->
        <div class="user" onclick="$('#hidden').toggleClass('show'); $('.user div').toggleClass('rotate');">

          <!-- check ejs for instagram user data -->
          <% if ( userPicture ){ %>
            <img src="<%= userPicture %>"/>
          <% } else { %>
            <img src="/views/img/profile_blank_gray.jpg"/>
          <% } %>

          <!-- check ejs for instagram user name data -->
          <% if ( fullName ){ %>
            <span><%= fullName %></span>
          <% } else { %>
            <span>...</span>
          <% } %>

          <div></div>
        </div>
        <div></div>
        <div id="hidden" class="userMenu">
          <ul>
            <% if ( admin && userName && userID ){ %>
              <li><a href="/dashboard?user=<%= userName %>&id=<%= userID %>" target="_self">Dashboard</a></li>
            <% } %>
            <li><a href="http://instagram.com/<%= userName %>" target="_blank">Instagram Profile</a></li>
            <li><a href="http://github.com/julesmoretti/fancrawl/" target="_blank" onclick="$('#hidden').removeClass('show');">About FanCrawl</a></li>
            <li><a href="http://github.com/julesmoretti/fancrawl/issues" target="_blank" onclick="$('#hidden').removeClass('show');">Report Issues</a></li>
            <li><a onclick="logOut();" style="cursor: pointer;">SIGN OUT</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="banner">
      <div class="bannerInner">
        <span>Users</span>
      </div>
    </div>
    <div class="container">
      <div class="containerInner">
          <div class="mainControllers">
            <div class="sorting">

              <% if ( sort && sort === 'id' ){ %>
                <span>sort: </span>
                <a href="/users?user=<%= userName %>&id=<%= userID %>&sort=alpha"><span>alphabetinally</span></a>
                <span> - </span>
                <a class="curOrder" href="/users?user=<%= userName %>&id=<%= userID %>&sort=id"><span>inst id</span></a>
                <span> - </span>
                <a href="/users?user=<%= userName %>&id=<%= userID %>&sort=date"><span>cration date</span></a>
              <% } else if ( sort && sort === 'date') { %>
                <span>sort: </span>
                <a href="/users?user=<%= userName %>&id=<%= userID %>&sort=alpha"><span>alphabetinally</span></a>
                <span> - </span>
                <a href="/users?user=<%= userName %>&id=<%= userID %>&sort=id"><span>inst id</span></a>
                <span> - </span>
                <a class="curOrder" href="/users?user=<%= userName %>&id=<%= userID %>&sort=date"><span>cration date</span></a>
              <% } else if ( sort && sort === 'alpha') { %>
                <span>sort: </span>
                <a class="curOrder" href="/users?user=<%= userName %>&id=<%= userID %>&sort=alpha"><span>alphabetinally</span></a>
                <span> - </span>
                <a href="/users?user=<%= userName %>&id=<%= userID %>&sort=id"><span>inst id</span></a>
                <span> - </span>
                <a href="/users?user=<%= userName %>&id=<%= userID %>&sort=date"><span>cration date</span></a>
              <% } %>


            </div>
            <div class="controllerList">
              <div class="controllerDescription">

                <ul>
                  <% if ( users && JSON.stringify(users).length > 2 ){ %>
                    <% if ( sort && sort === "id" ){ %>
                      <% for ( var i = 0; i < orders.sortId.length; i++ ) {%>
                        <li>
                          <a href="/dashboard?user=<%= users[ orders.sortId[ i ] ].fancrawl_username %>&id=<%= users[ orders.sortId[ i ] ].fancrawl_instagram_id %>" target="_self"><img src="<%= users[ orders.sortId[ i ] ].fancrawl_profile_picture %>"></img><span><%= users[ orders.sortId[ i ] ].fancrawl_full_name %></span><span>( <%= users[ orders.sortId[ i ] ].creation_date %> )</span></a>
                          <div class="<%= users[ orders.sortId[ i ] ].state %>"><span><%= users[ orders.sortId[ i ] ].state %></span></div>
                          <div id="user_details"></div>
                        </li>
                      <% } %>
                    <% } else if ( sort === "alpha" ){ %>
                      <% for ( var i = 0; i < orders.sortAlpha.length; i++ ) {%>
                        <li>
                          <a href="/dashboard?user=<%= users[ orders.sortAlpha[ i ] ].fancrawl_username %>&id=<%= users[ orders.sortAlpha[ i ] ].fancrawl_instagram_id %>" target="_self"><img src="<%= users[ orders.sortAlpha[ i ] ].fancrawl_profile_picture %>"></img><span><%= users[ orders.sortAlpha[ i ] ].fancrawl_full_name %></span><span>( <%= users[ orders.sortAlpha[ i ] ].creation_date %> )</span></a>
                          <div class="<%= users[ orders.sortAlpha[ i ] ].state %>"><span><%= users[ orders.sortAlpha[ i ] ].state %></span></div>
                          <div id="user_details"></div>
                        </li>
                      <% } %>
                    <% } else if ( sort === "date" ){ %>
                      <% for ( var i = 0; i < orders.sortDate.length; i++ ) {%>
                        <li>
                          <a href="/dashboard?user=<%= users[ orders.sortDate[ i ] ].fancrawl_username %>&id=<%= users[ orders.sortDate[ i ] ].fancrawl_instagram_id %>" target="_self"><img src="<%= users[ orders.sortDate[ i ] ].fancrawl_profile_picture %>"></img><span><%= users[ orders.sortDate[ i ] ].fancrawl_full_name %></span><span>( <%= users[ orders.sortDate[ i ] ].creation_date %> )</span></a>
                          <div class="<%= users[ orders.sortDate[ i ] ].state %>"><span><%= users[ orders.sortDate[ i ] ].state %></span></div>
                          <div id="user_details"></div>
                        </li>
                      <% } %>
                    <% } %>


                  <% } else { %>
                      <li><span>N/A</span></li>
                  <% } %>
                </ul>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="status_bar">
      <span>Copyright © <a href="http://linkedin.com/in/julesmoretti" target="_blank">Jules Moretti</a>. All rights reserved.</span>
    </div>
    <div id="menuHide" onclick="$('#hidden').removeClass('show');"></div>
    <% if (users) { %>
      <script>
        var sorting = <%- sort %>;
        var listOfUsers = <%- parsedUsers %>;
        var userOrder = <%- parsedOrders %>;
      </script>
    <% } %>

    <script src="/views/js/d3_chart.js" charset="utf-8"></script>
    <script src="/views/js/d3_ani_dash.js" charset="utf-8"></script>
    <script src="/views/js/toggles.js" charset="utf-8"></script>
  </body>

</html>
